table{
    position: relative;
    width: 80%;
    border-collapse: collapse;
    border: 2px solid #6366f1;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 50px;
    left: 10%;
    box-shadow: #c7d2fe 10px 10px 10px 10px;
    
    
    
}

table th{
    border: 1px solid black;
    background: #6366f1;
    height: 40px;
    color: white;
    
}

table td{

    border: 1px solid black;
    background: white;
    height: 40px;
    padding-left: 10px;
    
}



